<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post" action="/comments/<%= comment.id %>?_method=patch">
        <h1>Edit comment id: <%= comment.id %></h1>
        <label>Comment:
            <textarea name="comment">
                <%= comment.comment %>
            </textarea>
        </label>
        <button>Save</button>
    </form>
</div>
</body>
</html>