<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post" action="/comments">
        <h1>Create new comment</h1>
        <label>Username:
            <input name="username">
        </label>
        <label>Comment:
            <textarea name="comment"></textarea>
        </label>
        <button>Submit</button>
    </form>
</div>
</body>
</html>